

body {
    background-color: #34535c;}


  
h1 {
    color: white;
    text-align: left;
    font-size: 40px;

  }
  
.text-content {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
    margin-right: 600px;
    margin-top: 100px;

  }

  
.picture {
    float: right;
    padding-right: 85px;
    margin-top: -350px;
    margin-bottom: 40px;
    position: relative;
    
  }

  .circle {
    float: right;
    padding-right: 85px;
    margin-top: -350px;
    margin-bottom: 40px;
    position: absolute;
  }

  .social-links {
    margin-left: 60px;
  
  }
  